<app-sibling-form></app-sibling-form>
<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userlist">
          <th scope="row">user.id</th>
          <td>user.name</td>
          <td>user.age</td>
          <td>user.gender</td>
        </tr>
      </tbody>
  </table>