
<header>
    <h3>Employee List</h3>
</header>
  
<main class="container-fluid d-flex flex-grow justify-content-between flex-column">

    <div class="d-flex flex-grow-1 mb-3">
        <div class="head-form d-flex justify-content-between">
            <button class="btn" routerLink="../add">+ Add</button>
        </div>
    
        <div class="fitler-container d-flex justify-content-end">       
            <button class="btn" (click)="filterOverlay()">
                <span class="filter-icon icon-filter1"></span> 
                    Filter 
            </button>
            <div *ngIf="isFilterMode" class="filter-notification-badge rounded-circle position-relative"></div>
        </div>  
    </div>

    <div id="table-product" class="container-fluid list-container">
        <table class="table-product">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Age</th>
                <th>Gender</th>
                <th>City</th>
                <th>Action</th>
            </tr>
      
            <tr *ngFor="let employee of displayList; let i = index">
                <td>{{i + 1}}</td>
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.age}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.city}}</td>
                <td>
                    <button class="table-action-btn" (click)="onEdit(employee.id)">Edit</button>
                    <button class="table-action-btn" (click)="OnDelete(employee.id)">Delete</button>
                </td>
            </tr>

        </table>

        <app-pagination [items]="employeeList" 
                        [itemsPerPage]="5"
                        (changePage)="changePage($event)" 
                        class="d-flex justify-content-end mt-3"         
        ></app-pagination>
    </div>
</main> 
  
