<div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Full Name</label>
        <input
          type="text"
          formControlName="fullname"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
        />
        <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
          <div *ngIf="f['fullname'].errors['required']">Fullname is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Username</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
        />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">Username is required</div>
          <div *ngIf="f['username'].errors['minlength']">
            Username must be at least 6 characters
          </div>
          <div *ngIf="f['username'].errors['maxlength']">
            Username must not exceed 20 characters
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <button type="button" (click)="update()" class="btn btn-primary" >Next</button>
        <button type="submit" class="btn btn-primary" >Save</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
  
<!-- <button type="button" class="btn btn-light" (click)="update()" routerLink="../formtwo">Next</button> -->
