
<div>
  <h1>{{formTitle}}</h1>
</div>
  
<div class="form-employee">

  <form [formGroup]="employeeform">

    <div>
      <label for="firstname">First Name</label>
      <input formControlName="firstname" type="text" id="firstname" name="firstname" placeholder="Your name..">
      <!-- <small class="required" *ngIf="!employeeform.get('firstname')?.valid && employeeform.get('firstname')?.touched">This Field is required</small> -->
    </div>

    <div>
      <label for="lastname">Last Name</label>
      <input formControlName="lastname" type="text" id="lastname" name="lastname" placeholder="Your last name..">
      <!-- <small class="required" *ngIf="!employeeform.get('lastname')?.valid && employeeform.get('lastname')?.touched">This Field is required</small> -->
    </div>

    <div>
        <label for="age">Age</label>
        <input type="number" formControlName="age" id="age" name="age" placeholder="age">
    </div>

    <div>
      <label for="dept-select">Choose a Department:</label>
        <select formControlName="department" name="dept-select" id="dept-select">
          <option *ngFor="let dept of employeedepartment" [value]="dept.department">{{dept.department}}</option> 
       </select> 
    </div>

    <div>
      <label for="gender">Gender:</label>
      <label  for="male" class="ms-4">Male</label>
      <input class="form-check-input" formControlName="gender" value="Male" type="radio" name="gender" id="male">
      <label for="female" class="ms-4">Female</label>
      <input class="form-check-input" formControlName="gender" value="Female" type="radio" name="gender" id="female"><br>
    </div>

    <div>
      <label for="city">City</label>
      <input type="text" formControlName="city" id="city" name="city" placeholder="City">
  </div>

    <div>
      <input type="button" class="btn" value="Submit" (click)="onSubmit()">
      <input type="button" class="btn" value="cancel" (click)="onCancel()">
    </div>    

  </form>
</div> 

