<form class="pt-5" [formGroup]="detailForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="fname">
        <div *ngIf="f['fname'].touched && f['fname'].errors?.['required']">This Field is Required</div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="lname">
        <div *ngIf="f['lname'].touched && f['lname'].errors?.['required']">This Field is Required</div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <div *ngIf="f['email'].touched && f['email'].errors?.['required']">This Field is Required</div>
    </div>

  
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-primary" (click)="resetForm()">Reset</button>

</form>