<!-- hero section starts -->

<section id="hero" class="d-flex h-100 position-relative">
  <!-- <div class="example-box d-flex flex-column" cdkDrag>
    <div>
      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
      <label for="vehicle1"> mvp pattern</label><br>
    </div>
    <div>
      <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
      <label for="vehicle2"> Interceptor</label><br>
    </div>
    <div>
      <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3"> go home</label>
    </div>
  </div> -->
  <!-- header starts -->
  <div >
    <app-sidebar></app-sidebar>
  </div>
  <!-- header ends -->

  <!-- main starts -->
  <div class="d-flex flex-column flex-grow-1 overflow-hidden">
    <!-- <div>
      <app-header></app-header>
    </div> -->
    <div class="overflow-auto p-5">
      
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- main ends -->

</section>
<!-- hero section ends -->