// Theme Primary Color

// Theme colors
$primary: #000000;
$secondary: #e3dfd4;
$info: #81bbc9;
$warning: #b78059; 
$success: #89be90;
$gray-light: #f4f5f9;
$white: #ffffff;


// // map
// $cards: (
//   "stats": $secondary,
//   "sales": $warm,
//   "profit": $success-primary,
//   "orders": $info-secondary,
//   "visits": $gray-light,
// );
