<!-- <button type="button" class="btn btn-dark" (click)="printPageArea('printableArea')">printer</button> -->
<!-- <div id="printableArea">
    <iframe class="frame w-100 h-100"   [src]="safeUrl"></iframe>
</div> -->

<!-- <button type="button" class="btn btn-dark" (click)="printPageArea('frame')">printer</button>
<iframe id="frame"></iframe> -->

<button type="button" class="btn btn-dark" (click)="printjs()">printer</button>
<!-- <iframe [src]="safeUrl" frameborder="0"></iframe> -->
<!-- <iframe id="frame2" class="hidden" [src]="safeUrl"></iframe> -->