#aside {
    width: 250px;
    background-color: #191c24;
    // overflow: hidden;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    #aisde-label {
        // overflow: visible;
        color: black;
        position: absolute;
        font-size: 1.5rem;
        right: -50px;
        top: 20px;
        z-index: 999;
    }

    .brand {
        letter-spacing: 1rem;
        padding-left: 1.25rem;
        overflow: hidden;
        &-name {
            color: white;
            margin: 0;
            transition: all .4s ease-in-out;
        }
    }

    .profile {
        overflow: hidden;
        //  line-height: 5rem;
         transition: all .4s ease-in-out;
        &-figure {
            // margin: 0;
            // padding-left: 1rem;
            .img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                border: 3px solid #6c7293;
            }
        }
        &-details {
            .profile-name {
                color: white;   
            } 
        } 
     }

    .nav-name {
        color: #6c7293;
    }

    .nav-item {
        overflow: hidden;
        
        .nav-link {
            
            display: block;
            text-decoration: none;
            color: #6c7293;
            border-left: 2px solid transparent;
            transition: all .4s ease-in-out;
            &:hover, &.active {
               
                color: white;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background-color: #0f1015;
            }
            &.active {
                border-left: 2px solid #0090e7;
            }
        }
        
    }
}
.aside-input {
    display: none;
}
.aside-input:checked ~ #aside {
    width: 65px;
    .brand-name {
        transform: translateX(3px);
        letter-spacing: 2rem;
    }
    .profile-details {
        transform: translateX(100%);
    }
    .nav-name {
        display: none;
    }
}