<!-- aside starts -->
<input class="aside-input" type="checkbox" id="aside-checkbox" checked>
<aside id= "aside" class="h-100 position-relative">

    <label id="aisde-label" for="aside-checkbox"><span><i class='bx bx-menu'></i></span></label>

    <div class="brand d-flex align-items-center">
        <h1 class="brand-name">Enigma</h1>
    </div>

    <div class="profile d-flex justify-content-between align-items-center">
        <figure class="profile-figure">
            <img class="img" src="../../../../assets/images/Image 05-03-22 at 10.00 PM.jpg" alt="profile-pic">
        </figure>
        <div class="profile-details">
            <span class="profile-name">Mehul Patel</span>
            <span><i class='bx bx-dots-vertical-rounded' ></i></span>
        </div>
    </div>

    <div class="nav-name">
        <h6>Navigation</h6>
    </div>

    <nav class="nav flex-grow-1">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span class="nav-link-icon"><i class='bx bx-shape-square'></i></span>
                    <span>Scrambler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-icon"><i class='bx bx-shape-square'></i></span>
                    <span>Scrambler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-icon"><i class='bx bx-shape-square'></i></span>
                    <span>Scrambler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-link-icon"><i class='bx bx-shape-square'></i></span>
                    <span>Scrambler</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
<!-- aside ends -->