<div class="position-relative">
    <div >
        <div class="d-flex justify-content-between" style="z-index: 99;">
            <div class="rounded-3 bg-primary  step-one box" style="z-index: 99;"></div>
            <div class="rounded-3 bg-primary  step-two box" style="z-index: 99;"></div>
            <div class="rounded-3 bg-primary  step-three box" style="z-index: 99;"></div>
            <div class="rounded-3 bg-primary  step-three box" style="z-index: 99;"></div>
        </div>
    </div>
    <progress #hello value="0" max="100" class="w-100 progess-bar position-absolute"></progress>

</div>

